table {
  border-collapse: collapse;
  margin: 10px 10px;
  border: 1px solid teal;
}

table th, table td {
  padding: 5px 5px;
}

table th, table td {
  border-right: 1px solid teal;
}

table th.multi {
  width: 200px;
}

table td.multi {
  width: 100px;
}

table tr:nth-child(even) {
  background-color: rgba(0, 0, 128, 0.1)
}

table thead tr {
  background-color: rgba(0, 0, 128, 0.1);
  border-bottom: 1px solid teal;
}
